@{
    ViewData["Title"] = "Configuracion";
}


<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>Vista Futurista</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/StyleSheet.css"/>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-primary">Opciones de cuenta:</h3>
                        <ul>
                            <li>Cambio de contraseña.</li>
                            <li>Configuración de la información de perfil.</li>
                            <li>Preferencias de notificaciones por correo electrónico.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-primary">Preferencias de idioma:</h3>
                        <ul>
                            <li>Cambio de idioma de la interfaz.</li>
                            <li>Selección de región o zona horaria.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-primary">Notificaciones:</h3>
                        <ul>
                            <li>Configuración de notificaciones (activar/desactivar).</li>
                            <li>Preferencias de notificaciones</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-primary"> Privacidad y seguridad:</h3>
                        <ul>
                            <li>Configuración de privacidad.</li>
                            <li>Opciones de seguridad.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-primary">Redes sociales/enlaces externos:</h3>
                        <ul>
                            <li>Conexiones a cuentas de redes sociales.</li>
                            <li>Configuración de enlaces externos.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-primary">Gestión de dispositivos:</h3>
                        <ul>
                            <li>Lista de dispositivos conectados.</li>
                            <li>Opciones para gestionar sesiones activas y cerrar sesión en otros dispositivos.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-primary">Acerca de:</h3>
                        <ul>
                            <li>Información de la versión de la aplicación.</li>
                            <li>Detalles de la empresa o desarrollador.</li>
                            <li>Términos de servicio y política de privacidad.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-primary">Otros</h3>
                        <ul>
                            <li>Información de la versión.</li>
                            <li>Detalles de la empresa.</li>
                            <li>Términos de servicio.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>








    






