@{
    ViewData["Title"] = "Configuracion";
}


    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Vista Futurista</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css"/>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-primary">Titulo</h3>
                        <ul>
                            <li>Información de la versión.</li>
                            <li>Detalles de la empresa.</li>
                            <li>Términos de servicio.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-primary">Titulo</h3>
                        <ul>
                            <li>Información de la versión.</li>
                            <li>Detalles de la empresa.</li>
                            <li>Términos de servicio.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-primary">Titulo</h3>
                        <ul>
                            <li>Información de la versión.</li>
                            <li>Detalles de la empresa.</li>
                            <li>Términos de servicio.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-primary">Titulo</h3>
                        <ul>
                            <li>Información de la versión.</li>
                            <li>Detalles de la empresa.</li>
                            <li>Términos de servicio.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-primary">Titulo</h3>
                        <ul>
                            <li>Información de la versión.</li>
                            <li>Detalles de la empresa.</li>
                            <li>Términos de servicio.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-primary">Titulo</h3>
                        <ul>
                            <li>Información de la versión.</li>
                            <li>Detalles de la empresa.</li>
                            <li>Términos de servicio.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-primary">Titulo</h3>
                        <ul>
                            <li>Información de la versión.</li>
                            <li>Detalles de la empresa.</li>
                            <li>Términos de servicio.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-primary">Titulo</h3>
                        <ul>
                            <li>Información de la versión.</li>
                            <li>Detalles de la empresa.</li>
                            <li>Términos de servicio.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

@* <div class="container-fluid">
  

    <div class="row">
        <div class="col">
            <div style="margin-top:50px;">
                <div class="row justify-content-md-center text-center">
                    <div class="col col-7 configuracion1">
                        <p class="text-primary">
                            Opciones de cuenta:
                        </p>
                        <ul>
                            <li>Cambio de contraseña.</li>
                            <li>Configuración de la información de perfil.</li>
                            <li>Preferencias de notificaciones por correo electrónico.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div style="margin-top:50px;">
                <div class="row justify-content-md-center text-center">
                    <div class="col col-7 configuracion2">
                        <p class="text-primary">
                            Preferencias de idioma:
                        </p>
                        <ul>
                            <li>Cambio de idioma de la interfaz.</li>
                            <li>Selección de región o zona horaria.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div style="margin-top:50px;">
                <div class="row justify-content-md-center text-center">
                    <div class="col col-7 configuracion3">
                        <p class="text-primary">
                            Notificaciones:
                        </p>
                        <ul>
                            <li>Configuración de notificaciones (activar/desactivar).</li>
                            <li>Preferencias de notificaciones</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div style="margin-top:50px;">
                <div class="row justify-content-md-center text-center">
                    <div class="col col-7 configuracion4">
                        <p class="text-primary">
                            Notificaciones:
                        </p>
                        <ul>
                            <li>Configuración de notificaciones (activar/desactivar).</li>
                            <li>Preferencias de notificaciones</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div style="margin-top:50px;">
                <div class="row justify-content-md-center text-center">
                    <div class="col col-7 configuracion5">
                        <p class="text-primary">
                            Privacidad y seguridad:
                        </p>
                        <ul>
                            <li>Configuración de privacidad.</li>
                            <li>Opciones de seguridad.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div style="margin-top:50px;">
                <div class="row justify-content-md-center text-center">
                    <div class="col col-7 configuracion6">
                        <p class="text-primary">
                            Notificaciones por correo electrónico:
                        </p>
                        <ul>
                            <li>Preferencias para recibir correos electrónicos.</li>
                            <li>Opciones de frecuencia de envío de correos electrónicos.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div style="margin-top:50px;">
                <div class="row justify-content-md-center text-center">
                    <div class="col col-7 configuracion7">
                        <p class="text-primary">
                            Redes sociales y enlaces externos:
                        </p>
                        <ul>
                            <li>Conexiones a cuentas de redes sociales.</li>
                            <li>Configuración de enlaces externos.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div style="margin-top:50px;">
                <div class="row justify-content-md-center text-center">
                    <div class="col col-7 configuracion8">
                        <p class="text-primary">
                            Gestión de dispositivos:
                        </p>
                        <ul>
                            <li>Lista de dispositivos conectados.</li>
                            <li>Opciones para gestionar sesiones activas y cerrar sesión en otros dispositivos.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div style="margin-top:100px;">
                <div class="row justify-content-md-center text-center">
                    <div class="col col-3 configuracion11">
                        <p class="text-primary">
                            Acerca de:
                        </p>
                        <ul>
                            <li>Información de la versión de la aplicación.</li>
                            <li>Detalles de la empresa o desarrollador.</li>
                            <li>Términos de servicio y política de privacidad.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 *@

@* <meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>Vista Futurista</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/StyleSheet.css" />
    
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-2">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Título</h3>
                        <p class="card-text">Descripción breve. Puedes agregar más detalles aquí.</p>
                        <a href="#" class="btn btn-outline-info">Detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Título</h3>
                        <p class="card-text">Descripción breve. Puedes agregar más detalles aquí.</p>
                        <a href="#" class="btn btn-outline-info">Detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Título</h3>
                        <p class="card-text">Descripción breve. Puedes agregar más detalles aquí.</p>
                        <a href="#" class="btn btn-outline-info">Detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Título</h3>
                        <p class="card-text">Descripción breve. Puedes agregar más detalles aquí.</p>
                        <a href="#" class="btn btn-outline-info">Detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Título</h3>
                        <p class="card-text">Descripción breve. Puedes agregar más detalles aquí.</p>
                        <a href="#" class="btn btn-outline-info">Detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Título</h3>
                        <p class="card-text">Descripción breve. Puedes agregar más detalles aquí.</p>
                        <a href="#" class="btn btn-outline-info">Detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Título</h3>
                        <p class="card-text">Descripción breve. Puedes agregar más detalles aquí.</p>
                        <a href="#" class="btn btn-outline-info">Detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Título</h3>
                        <p class="card-text">Descripción breve. Puedes agregar más detalles aquí.</p>
                        <a href="#" class="btn btn-outline-info">Detalles</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body> *@











    






