@{
    ViewData["Title"] = "Ingreso Correcto";
}
<h1>Carrera creada con exito</h1>
<p>Actualmente solo el administrador puede ver o crear este tipo de categoria</p>
<div><a asp-action="Inicio" asp-controller="Home">Volver al inicio</a></div>
