
@{
    ViewData["Title"] = "Ingreso Correcto";
}
<h1>Ingreso de solicitud exitoso</h1>
<p>Se le dara pronta respuesta a su solicitud</p>
<div><a asp-action="Inicio" asp-controller="Home">Volver al inicio</a></div>