@{
    ViewData["Title"] = "Contenido";
}


<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>Presentación ASP.NET</title>
<link rel="stylesheet" href="~/css/StyleSheet.css" />
<body>

    <div class="presentation">
        <div class="slide">
            <div class="mb-5">
                <h1>Introducción a ASP.NET</h1>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <p>
                                ASP.NET es un marco de desarrollo web diseñado y desarrollado por Microsoft para facilitar la creación
                                de aplicaciones web dinámicas y robustas. La abreviatura ASP.NET proviene de "Active Server Pages"
                                (Páginas de Servidor Activo), indicando su capacidad para generar contenido dinámico en el lado del
                                servidor. Desde su primera versión, ASP.NET ha evolucionado y se ha convertido en una plataforma integral
                                para el desarrollo de aplicaciones web modernas.

                                Una de las características fundamentales de ASP.NET es su capacidad para utilizar múltiples
                                lenguajes de programación, siendo C# y VB.NET los más comunes. Se basa en el marco .NET, que
                                proporciona una amplia biblioteca de clases y servicios que simplifican el desarrollo de aplicaciones.
                                ASP.NET abarca varios modelos de programación, como Web Forms para la construcción rápida de aplicaciones,
                                y MVC (Model-View-Controller) para un enfoque más estructurado y modular.

                                La arquitectura de ASP.NET se centra en el patrón de diseño Modelo-Vista-Controlador (MVC) y
                                sigue el enfoque de desarrollo basado en eventos. Utiliza el Common Language Runtime (CLR) de .NET
                                para compilar y ejecutar código, lo que proporciona ventajas en términos de rendimiento y seguridad.

                                ASP.NET también ofrece características avanzadas como la gestión de estado de sesión, controles de
                                servidor, autenticación y autorización, entre otras. Además, se integra con tecnologías web actuales,
                                como AJAX (Asynchronous JavaScript and XML), permitiendo construir aplicaciones web interactivas y
                                receptivas.

                                En resumen, ASP.NET es una plataforma flexible y poderosa que facilita el desarrollo de aplicaciones
                                web escalables y de alto rendimiento, ofreciendo a los desarrolladores las herramientas necesarias para
                                construir soluciones web modernas y eficientes.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="slide align-text-top">
            <div class="mb-5">
                <h1>Características Principales</h1>
            </div>
            <p>
                <div class="mb-5">
                    ASP.NET cuenta con una serie de características principales que lo convierten en un marco de desarrollo web robusto y versátil.
                    Aquí están algunas de las características más destacadas:
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title text-primary">Soporte para Model-View-Controller (MVC):</h3>
                                <p>
                                    Ofrece un patrón de diseño MVC que facilita la separación de las preocupaciones y la construcción de aplicaciones web
                                    bien estructuradas y mantenibles.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title text-primary">
                                    Biblioteca de Clases .NET:
                                </h3>
                                <p>
                                    Se basa en la biblioteca de clases .NET, que proporciona un amplio conjunto de
                                    funcionalidades predefinidas y reutilizables, lo que acelera el desarrollo y mejora la
                                    consistencia del código.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title text-primary">Controles de Servidor Web:</h3>
                                <p>
                                    Utiliza controles de servidor web que permiten a los desarrolladores construir
                                    interfaces de usuario dinámicas y ricas, simplificando la gestión del estado de
                                    la aplicación.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title text-primary">
                                    Gestión de Estado:
                                </h3>
                                <p>
                                    Proporciona opciones para la gestión de estado, ya sea a través de ViewState,
                                    cookies o sesiones, permitiendo a los desarrolladores elegir la mejor opción según
                                    los requisitos de la aplicación.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title text-primary">
                                    Seguridad Integrada:
                                </h3>
                                <p>
                                    Incluye características integradas de seguridad, como autenticación y autorización,
                                    así como la capacidad de implementar fácilmente medidas de seguridad adicionales para
                                    proteger las aplicaciones contra amenazas comunes.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title text-primary">
                                    Desarrollo Rápido de Aplicaciones:
                                </h3>
                                <p>
                                    Ofrece herramientas y controles que facilitan el desarrollo rápido de aplicaciones,
                                    permitiendo a los desarrolladores centrarse en la lógica empresarial en lugar de preocuparse
                                    por detalles de bajo nivel.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title text-primary">
                                    Integración con Visual Studio:
                                </h3>
                                <p>
                                    Está estrechamente integrado con Microsoft Visual Studio, proporcionando un entorno de
                                    desarrollo potente con características como depuración, diseño visual y pruebas unitarias.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title text-primary">
                                    Compatibilidad con AJAX:
                                </h3>
                                <p>
                                    Permite la implementación sencilla de aplicaciones web interactivas mediante la integración
                                    de tecnologías AJAX, lo que facilita la creación de interfaces de usuario más dinámicas y
                                    responsivas.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title text-primary">
                                    Despliegue Sencillo:
                                </h3>
                                <p>
                                    Facilita el despliegue de aplicaciones web a través de la infraestructura de servidor web
                                    de Microsoft, garantizando una implementación suave y eficiente.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title text-primary">Modelo de Programación Unificado:</h3>
                                <p>
                                    ASP.NET proporciona un modelo de programación unificado que permite a los desarrolladores
                                    utilizar diferentes lenguajes de programación, como C# o VB.NET, para construir aplicaciones
                                    web.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </p>
        </div>
        <div class="slide">
            <div class="mb-5">
                <h1>Tipos de ASP.NET</h1>
            </div>
            <div class="mb-5">
                <p>
                    ASP.NET abarca varios modelos y tecnologías que se adaptan a diferentes necesidades y enfoques de desarrollo.
                    Aquí tienes algunos de los tipos y tecnologías principales de ASP.NET:
                </p>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title text-primary">ASP.NET Web Forms:</h3>
                            <ul>
                                <li>
                                    Descripción: Es un modelo de programación basado en eventos y controles de servidor web, que
                                    facilita la construcción rápida de aplicaciones web con una interfaz de usuario rica.
                                </li>
                                <li>
                                    Características Clave: Controles de servidor, eventos del lado del servidor, gestión
                                    automática del estado de la página (ViewState).
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title text-primary">ASP.NET MVC (Model-View-Controller):</h3>
                            <ul>
                                <li>
                                    Descripción: Adopta el patrón de diseño MVC para separar la lógica de presentación,
                                    la lógica de negocio y la gestión de las solicitudes. Proporciona mayor control y modularidad
                                    en comparación con Web Forms.
                                </li>
                                <li>
                                    Características Clave: Controladores, vistas, modelos, enrutamiento, mayor control sobre
                                    el HTML generado.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
               
                <div class="col-md-12 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title text-primary">ASP.NET Web API:</h3>
                            <ul>
                                <li>
                                    Descripción: Facilita la creación de aplicaciones web en tiempo real, permitiendo
                                    la comunicación bidireccional entre el servidor y los clientes a través de conexiones
                                    persistentes.
                                </li>
                                <li>
                                    Características Clave: Comunicación en tiempo real, manejo automático de conexiones,
                                    actualizaciones push.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title text-primary">ASP.NET Razor Pages:</h3>
                            <ul>
                                <li>
                                    Descripción: Proporciona una forma simplificada de construir páginas web con código
                                    detrás y vistas Razor, eliminando la necesidad de controladores separados.
                                </li>
                                <li>
                                    Características Clave: Modelo de programación simplificado, separación de código y
                                    presentación en la misma página.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title text-primary">Blazor:</h3>
                            <ul>
                                <li>
                                    Descripción: Permite el desarrollo de aplicaciones web interactivas utilizando C# y .NET
                                    en el lado del cliente, eliminando la necesidad de JavaScript.
                                </li>
                                <li>
                                    Características Clave: Ejecución de código C# en el navegador, componentes reutilizables,
                                    interactividad en tiempo real.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slide">
            <div class="mb-5">
                <h1>ASP.NET Core</h1>
            </div>
            <div class="mb-5">
                <p>
                    ASP.NET Core es la versión más reciente y avanzada del marco de desarrollo web ASP.NET, desarrollado por Microsoft.
                    A diferencia de su predecesor, ASP.NET Core es modular, multiplataforma y de código abierto. Aquí tienes algunas
                    características clave de ASP.NET Core:
                </p>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title text-primary">Multiplataforma:</h3>
                            <p>
                                ASP.NET Core es compatible con Windows, macOS y Linux, lo que permite desarrollar y ejecutar
                                aplicaciones en diferentes entornos.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title text-primary">Código Abierto:</h3>
                            <p>
                                ASP.NET Core es completamente de código abierto y se encuentra bajo la licencia MIT.
                                Esto fomenta la colaboración y contribución de la comunidad de desarrolladores.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title text-primary">Modularidad:</h3>
                            <p>
                                El marco está diseñado de manera modular, lo que significa que puedes incluir solo
                                los componentes necesarios para tu aplicación. Esto mejora la eficiencia y la reducción 
                                de dependencias innecesarias.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title text-primary">Rendimiento Mejorado:</h3>
                            <p>
                                ASP.NET Core está optimizado para ofrecer un rendimiento superior en comparación con las 
                                versiones anteriores de ASP.NET. También incluye características como Kestrel, un servidor 
                                web de alto rendimiento y basado en la librería libuv.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title text-primary">ASP.NET Core MVC:</h3>
                            <p>
                                Al igual que ASP.NET, ASP.NET Core incluye un marco MVC para el desarrollo de aplicaciones
                                web basado en el patrón de diseño Modelo-Vista-Controlador.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title text-primary">.NET Core:</h3>
                            <p>
                                ASP.NET Core se basa en la plataforma .NET Core, que es una versión modular y ligera del framework
                                .NET. .NET Core también es multiplataforma y puede utilizarse en escenarios más allá del desarrollo
                                web.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title text-primary">Inyección de Dependencias Integrada:</h3>
                            <p>
                                ASP.NET Core incluye un sistema de inyección de dependencias integrado que facilita la
                                gestión de las dependencias y mejora la modularidad y la prueba unitaria.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title text-primary">Middleware:</h3>
                            <p>
                                Utiliza middleware para gestionar las solicitudes HTTP y las respuestas, lo que permite 
                                agregar componentes y funcionalidades en el canal de procesamiento de solicitudes.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title text-primary">Soporte para Contenedores:</h3>
                            <p>
                                ASP.NET Core se integra fácilmente con contenedores como Docker, lo que facilita la implementación
                                y escalabilidad de aplicaciones en entornos contenerizados.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title text-primary">Desarrollo en Tiempo Real:</h3>
                            <p>
                                ASP.NET Core incluye SignalR, una biblioteca que permite la comunicación bidireccional en tiempo 
                                real entre el servidor y los clientes.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="navigation">
            <button onclick="plusSlides(-1)" class="prev">&#10094; Anterior</button>
            <button onclick="plusSlides(1)" class="next">Siguiente &#10095;</button>
        </div>
    </div>

    <script>
        let slideIndex = 0;
        showSlides();

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function showSlides() {
            let i;
            const slides = document.getElementsByClassName("slide");

            if (slideIndex >= slides.length) {
                slideIndex = 0;
            }

            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }

            slides[slideIndex].style.display = "block";
        }
    </script>

</body>


