@{
    ViewData["Title"] = "Home Page";
}


    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Vista de Presentación</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <style>
        body {
            background-color: #121212;
            color: #fff;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
            overflow-x: hidden;
        }

        .container {
            padding: 50px;
            text-align: center;
        }

        h1, h2, h3 {
            color: #6c63ff;
        }

        p {
            font-size: 18px;
            line-height: 1.6;
        }

        .btn-primary {
            background-color: #6c63ff;
            border-color: #6c63ff;
        }

            .btn-primary:hover {
                background-color: #554fad;
                border-color: #554fad;
            }

        .futuristic-image {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
            margin-top: 20px;
        }
    </style>

<body>
    <div class="container">
        <img style="width:720px; border-radius: 50%" src="~/Imagenes/ImagenDiseño.png"/>
        <h1>Subsistema de gestion de solicitudes</h1>
        <p>Explora las increíbles características de esta interfaz.</p>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>



