@{
    ViewData["Title"] = "Presentacion Presonal";
}



<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>Vista Futurista</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/StyleSheet.css" />

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-primary">Habilidades</h3>
                        <ul>
                            <li>C#, SQL Server, HTML</li>
                            <li>Git, GitHub</li>
                            <li>Bootstrap, JavaScript</li>
                            <li>Ingles Básico</li>
                            <li>Gestión de Riesgo</li>
                            <li>Trabajo en Equipo</li>
                            <li>Dirección de proyectos enfocado en metodologías agiles</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-primary">Cursos</h3>
                        <ul>
                            <li>Curso de ASP.NET Core</li>
                            <li>Curso de SQL Server</li>
                            <li>Curso de Git y GitHub</li>
                            <li>Scrum Master</li>
                            <li>Desing Thincking</li>
                            <li>SolarWinds - Herramienta de monitoreo</li>
                            <li>CRM</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-primary">Experiencia</h3>
                        <ul>
                            <li>Testing de calidad - Secretaria de salud:Evaluación y auditoría de un producto o software para identificar y corregir posibles fallos</li>
                            <li>
                                Digitador: Ingreso de datos masivos en bases de datos
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-primary">Contacto</h3>
                        <a href="https://github.com/MateoGuti">
                            <img class="horizontal-images" style="width: 70px; border-radius: 50%" src="~/Imagenes/github.png" alt="GitHub">
                        </a>
                        <a href="https://www.instagram.com/mateodiaz_22/">
                            <img class="horizontal-images" style="width: 70px; border-radius: 50%" src="~/Imagenes/instagram.png" alt="Instagram">
                        </a>
                        <p>jaisongutierrez1908@gmail.com - 3014310471</p>
                    </div>
                </div>
            </div>
        </div>
        <a class="btn btn-primary" asp-action="Portafolio" asp-controller="ControladorPortafolio" class="dropdown-item">Volver</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>



